---
layout: default
title: Corsad's Random List
---
<div class = "posts">
{% for post in site.posts %}
	{% if post == site.posts[-1] %}
       	<li class ="lastPost"> {% include image-icon.html %} <span class = "date">{{ post.date | date_to_string }}</span> - <a href="{{ post.url }}">{{post.title}}</a></li>
	{% else %}
		<li class ="midPost"> {% include image-icon.html %} <span class = "date">{{ post.date | date_to_string }}</span> - <a href="{{ post.url }}">{{post.title}}</a></li>
	{% endif %}
{% endfor %}
</div>