body{
    color: black;
}

/* header.html */

.navbar-brand {
    padding-left: 0px;
    font-size: 36px;
}

.jumbotron{
    background-image: url("/Picture/Pixiv 39839467-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}

.jumbotron h1{
    font-size: 50px;
    text-align: right;
    color: white;
}

/* index.html */

.posts li{
	list-style-type: none;
}

.date{	
	color: blue;
}

/* _layout/post.html */
.post {
	border: 1px solid #aeaeae;
	border-radius: 9px;
	padding: 10px; 
}

.contact p{
	margin-right: 5px;
	color: gray;
}