body{
    color: black;
}

/* header.html */

.navbar-brand {
    padding-left: 0px;
    font-size: 24px;
}

.jumbotron{
    background-image: url("/Picture/Pixiv 39839467-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}

.jumbotron h1{
    font-size: 50px;
    text-align: right;
    color: white;
}

/* index.html */

.posts li{
	list-style-type: none;    
}

.posts{
    border: 1px solid #aeaeae;
    border-radius: 9px;
}

.date{	
	color: blue;
}

/* _layout/post.html */
.midPost {
    border-bottom: 1px solid #aeaeae;	
    padding: 10px; 
}

.lastPost {
    padding: 10px; 
}

.contentPost{
    border: 1px solid #aeaeae;
    border-radius: 9px;
    padding: 10px; 
}

.contact{
	padding-top: 20px;
}

.contact p{
	margin-right: 10px;
	color: gray;
	float: left;
}

.icon{
    float: left;
    height: 20px;
    width: 20px;
    margin-right: 6px;
}