<html>
<head>   
</head>

<body>   
<div class="container">
    <div class="jumbotron" href="/">    	
        	<h1>
        		<span class = "transparent">{{page.title}}</span>
        	</h1>       
    </div>
</div>

<div class="container">   
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="/programming.html">Programming</a>
        </div>    
    </nav>
</div>
