<html>
<head>
    <title>Reading List - Home</title>    
    <link rel="stylesheet" href="./bootstrap-3.2.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bootstrap-3.2.0-dist/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="main.css">
</head>

<body>   
<div class="container">
    <div class="jumbotron">
        <h1>Corsad's Random List</h1>
    </div>
</div>

<div class="container">   
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
        </div>    
    </nav>
</div>

<script src="../bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
