<html>
<head>
    <title>{{page.title}}</title>    
    <link rel="stylesheet" href="/bootstrap-3.2.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="/main.css">
</head>

<body>
    {% include header.html %}

    <div class="intro">
        <div class = "container">
            {{content}}
        </div>
    </div>
    
    {% include footer.html %}
    
    <script src="/jquery-2.1.1.min.js"></script>
    <script src="/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
</body>
</html>
